{% extends "nms/layout.html" %}

{% block body %}

<h1>Edit Note</h1>
<form method="post" action="{% url 'edit_note' note.id %}">
    {% csrf_token %}
    <div>
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" value="{{ note.title }}" required style="width: 100%;"><br><br>
    </div>
    <div>
        <label for="content">Content:</label><br>
        <textarea id="content" name="content" rows="10" cols="50" required>{{ note.content }}</textarea><br>
    </div>
    <button type="submit">Save Note</button>
</form>

{% endblock %}
