{% extends "nms/layout.html" %}

{% block body %}

<div class="container my-4">

    <h3 class="text-center mb-3">Note by {{ note.user.username }}</h3>

    <!-- Note metadata -->
    <div class="text-muted mb-4">
        <span>Created on {{ note.created_at }}</span>
    </div>
    <hr>

    <!-- Edit Note Button -->
    <div class="text-center mb-4">
        <a href="{% url 'edit_note' note.id %}" class="btn btn-success btn-lg">Edit note</a> 
    </div>

    <!-- Rendered content -->
    <div class="note-content">
        {{ rendered_content|safe }}
    </div>

</div>

{% endblock %}
