
/* links styles */

.links{
    list-style-type: none;
}


/* menu styling  */

.main-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Notes styling */



/* tickets styling */

.ticket{
    background-color: lightgrey;
    padding: .5rem;
    margin-top: .5rem;
    border-radius: 5px;
    cursor: pointer;
}

.ticket-item{
    text-decoration: none;
}

.ticket-item:active, .ticket-item:visited{
    text-decoration: none;
}

.comment{
    background-color: rgb(240, 240, 233);
}


/* pop up alerts */

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

/* New ticket form validation script  */

.invalid-feedback {
    display: none;
}
.is-invalid ~ .invalid-feedback {
    display: block;
}
.is-valid ~ .valid-feedback {
    display: block;
}

/* New ticket form validation script  */